<!-- templates/czat/index.html -->
{% extends "czat/baza.html" %}

{% block naglowek %}Witaj w aplikacji do zarządzania zasobami ludzkimi!{% endblock %}

{% block linki1 %}
  <p>Jesteś zalogowany jako {{ user.username }}.</p>
  {% if request.user.is_superuser %}
    <p><a href="{% url 'czat:rejestruj' %}">Zarejestruj użytkownika</a></p>
    <p><a href="{% url 'czat:users' %}">Userzy</a></p>
    <p><a href="{% url 'czat:dodaj' %}">Dodaj wiadomość</a></p>
  {% else %}
    <p><a href="{% url 'czat:dodajn' %}">Zgłoś nieobecność</a></p>
  {% endif %}
  <p><a href="{% url 'czat:wiadomosci' %}">Wiadomości</a></p>
  <p><a href="{% url 'czat:nieobecnosci' %}">Nieobecności</a></p>
{% endblock %}
{% block linki2 %}
  <p><a href="{% url 'czat:loguj' %}">Zaloguj się</a></p>
{% endblock %}