
<!-- czat/wiadomosc_list.html -->
{% extends "czat/baza.html" %}

{% block naglowek %}Nieobecności{% endblock %}

{% block tresc %}
  <h2>Lista nieobecności:</h2>
  <ol>
      {% if request.user.is_superuser %}
      {% for nieobecnosc in nieobecnosci %}
      <li>
          <strong>{{ nieobecnosc.autor.username }}</strong> ({{ nieobecnosc.data_pub }}):
          <br /> {{ nieobecnosc.tekst }}
          <br /> {{ nieobecnosc.data_start }}
          <br /> {{ nieobecnosc.data_koniec }} 
      </li>
      {% endfor %}
      {% else %}
      {% for nieobecnosc in nieobecnosci %}
      <li>
          {% if nieobecnosc.autor.username == user.username %}
          <strong>{{ nieobecnosc.autor.username }}</strong> ({{ nieobecnosc.data_pub }}):
          <br /> {{ nieobecnosc.tekst }}
          <br /> {{ nieobecnosc.data_start }}
          <br /> {{ nieobecnosc.data_koniec }}
              &bull; <a href="{% url 'czat:edytujn' nieobecnosc.id %}">Edytuj</a>
              &bull; <a href="{% url 'czat:usunn' nieobecnosc.id %}">Usuń</a>
          {% endif %} 
      </li>
      {% endfor %}
      {% endif %}
  </ol>

  {% if is_paginated %}
    <p>
    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}">Poprzednie</a>
    {% endif %}
      Strona {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}.
    </span>
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Następne</a>
    {% endif %}
    </p>
  {% endif %}
{% endblock %}

{% block linki3 %}
  <p><a href="{% url 'czat:index' %}">Strona główna</a></p>
{% endblock %}

